@import "tailwindcss";

@theme {
  --color-pinkLigth: #EADDF1;
  --color-aquamarine: #00FFA1;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html{
  font-family: 'Montserrat', sans-serif;
}